Package: surveyorstereo
Version: 0.3.2
Architecture: i386
Maintainer: Bob Mottram <fuzzgun@gmail.com>
Depends: mono-runtime
Recommends: 
Suggests: 
Section: robotics
Priority: optional
Homepage: http://code.google.com/p/sentience/
Description: GUI application for use with Surveyor SVS
